SilverlightApplication1/Service References/ebi/Service23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40977/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudaya">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudayaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetBudayaResult" nillable="true" type="q1:ArrayOfBudaya1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getanggota">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetanggotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetanggotaResult" nillable="true" type="q2:ArrayOfAnggota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getgaleri">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetgaleriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetgaleriResult" nillable="true" type="q3:ArrayOfGaleri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getprovinsi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetprovinsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetprovinsiResult" nillable="true" type="q4:ArrayOfProvinsi1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>