SilverlightApplication1/Service References/ebi/Service21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:40977/Service2.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:40977/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:40977/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:40977/Service2.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service2_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="Service2_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="Service2_GetBudaya_InputMessage">
    <wsdl:part name="parameters" element="GetBudaya" />
  </wsdl:message>
  <wsdl:message name="Service2_GetBudaya_OutputMessage">
    <wsdl:part name="parameters" element="GetBudayaResponse" />
  </wsdl:message>
  <wsdl:message name="Service2_Getanggota_InputMessage">
    <wsdl:part name="parameters" element="Getanggota" />
  </wsdl:message>
  <wsdl:message name="Service2_Getanggota_OutputMessage">
    <wsdl:part name="parameters" element="GetanggotaResponse" />
  </wsdl:message>
  <wsdl:message name="Service2_Getgaleri_InputMessage">
    <wsdl:part name="parameters" element="Getgaleri" />
  </wsdl:message>
  <wsdl:message name="Service2_Getgaleri_OutputMessage">
    <wsdl:part name="parameters" element="GetgaleriResponse" />
  </wsdl:message>
  <wsdl:message name="Service2_Getprovinsi_InputMessage">
    <wsdl:part name="parameters" element="Getprovinsi" />
  </wsdl:message>
  <wsdl:message name="Service2_Getprovinsi_OutputMessage">
    <wsdl:part name="parameters" element="GetprovinsiResponse" />
  </wsdl:message>
  <wsdl:portType name="Service2">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:Service2/DoWork" message="Service2_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service2/DoWorkResponse" message="Service2_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBudaya">
      <wsdl:input wsaw:Action="urn:Service2/GetBudaya" message="Service2_GetBudaya_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service2/GetBudayaResponse" message="Service2_GetBudaya_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getanggota">
      <wsdl:input wsaw:Action="urn:Service2/Getanggota" message="Service2_Getanggota_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service2/GetanggotaResponse" message="Service2_Getanggota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getgaleri">
      <wsdl:input wsaw:Action="urn:Service2/Getgaleri" message="Service2_Getgaleri_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service2/GetgaleriResponse" message="Service2_Getgaleri_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getprovinsi">
      <wsdl:input wsaw:Action="urn:Service2/Getprovinsi" message="Service2_Getprovinsi_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service2/GetprovinsiResponse" message="Service2_Getprovinsi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>